name: Compile Separate SRS
on:
  push:
    paths:
      - '**.json'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install sing-box
        run: |
          curl -Lo sing-box.tar.gz https://github.com/SagerNet/sing-box/releases/download/v1.10.1/sing-box-1.10.1-linux-amd64.tar.gz
          tar -xvf sing-box.tar.gz
          mv sing-box-*/sing-box .

      - name: Compile IP and Domain Rule Sets
        run: |
          ./sing-box rule-set compile roblox_ip.json -o roblox_ip.srs
          ./sing-box rule-set compile roblox_domain.json -o roblox_domain.srs

      - name: Push Changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add roblox_ip.srs roblox_domain.srs
          git commit -m "Update compiled srs files" || exit 0
          git push
